.admin{
    background-color: rgb(211, 211, 211);
    padding: 30px;
}

.admin .parent{
    display: flex;
}

.admin .parent .products {
    flex: 3;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;
    background-color:  #e6e6e6;
}

.admin .parent .coupons{
    flex: 2;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;
    background-color:  #e6e6e6;
}

.admin .parent .form{
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;
    background-color: white;
    margin: 0 20px;
    text-align: left;
}

.admin .parent .form .btn-container{
    text-align: center;
    margin-top: 20px;
}

.page{
    min-height: calc(100vh - 124px);
}