.navbar-menu{
    background-color: rgb(10, 53, 73);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
}
.navbar-menu h1{
    color: black;
    font-weight: bolder;
}

.navbar-menu a{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    color:  rgb(23, 134, 185);
}

a:hover{
    color: rgb(185, 155, 115);
}
